<main class="enter-main">
    <section>
        <form class="enter-form">
            <label for="form-label">Email:</label>
           <input type="email" id="form-label" placeholder="Ride your email" required/>
           <label for="form-label">Password:</label>
           <input type="password" id="form-label" placeholder="Ride your password" required/>
           <label for="form-label">Name:</label>
           <input type="text" id="form-label" placeholder="Ride your name" required/>
           <label for="form-label">Last name:</label>
           <input type="text" id="form-label" placeholder="Ride your last name" required/>
           <input type="submit" name="Submit" value="Signup"/>
        </form>
    </section>
</main>
