<main class="main">
    <section class="main-section">
        <div class = "main-div">
            <div class="main-div__right">
                <h1>Parte 1</h1>
            </div>
            <div class="main-div__left">
                <h1>Parte 2</h1>
            </div>
            
        </div>
        
    </section>
</main>
