<main class="enter-main">
    <section>
        <form class="enter-form">
           <label for="form-label">Email:</label>
           <input type="email" id="form-label" placeholder="Ride your email" required/>
           <label for="form-label">Password:</label>
           <input type="password" id="form-label" placeholder="Ride your password" required/>
           <input type="submit" name="Submit" value="Login"/>
        </form>
    </section>
</main>